body {
    margin: 0;
    padding: 50px 0 20px; /* Adjust the top and bottom padding as needed */
}

.body-content,
.container,
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
